*{
    margin: 0;
    padding: 0;
}

body {
    background-image: ;
}

.main-section {
    background-image: url("img/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

/* ####### NAVBAR ####### */

.nav-li {
    display: inline;

}

.nav-item {
    text-decoration: none;
    color: #000;
    font-size: 24px;
    padding-right: 15px;
}