@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

/* ##### BASE STYLES ###### */ 
body {
    overflow-x: hidden;
}




/* ##### GRID ###### */ 
.full-width {
    width: 100vw;
    margin: 0 auto;
    overflow: auto;
}

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    width: 400px;
    float: left;
}


/* ##### HEADER AND NAVBAR ###### */ 
#header {
    background: #b0b3a5;
    padding: 20px 0px;
}

#header ul {
    float: right;
    list-style-type: none;
}

#header li {
    display: inline;
    margin: 0px 20px;
}

#header a {
    font-size: 20px;
    color: #000;
    text-decoration: none;
}


/* ##### MAIN ###### */ 
#main {
    background: url('img/bg.jpg') no-repeat center;
    background-size: cover;
    height: 90vh;

}



/* ###### JS EVENT CSS ####### */
.hidden {
    display: none;
}