*{
    margin: 0;
    padding: 0;
}

#background-wrapper {
    background: url('img/bg.jpg') no-repeat center;
    background-size: contain;
    height: 100vh;
}


/* ####### NAVBAR ####### */

.nav-li {
    display: inline;

}

.nav-item {
    text-decoration: none;
    color: #000;
    font-size: 24px;
    padding-right: 15px;
}